<main class="flex flex-col flex-wrap h-screen gap-4 py-20">
  @for(item of inListItems; track item) {
  <label [for]="item.id" class="bg-neutral-700 hover:bg-neutral-800 flex flex-col transition-all rounded-full">
    <div class="flex justify-between items-center px-3 py-2 text-zinc-300 font-semibold">
      <div class="flex gap-3 items-center">
        <input type="checkbox" #inputCheckbox [checked]="item.checked"
          class="appearance-none size-7 rounded-full border-2 border-zinc-300 checked:bg-green-001 checked:border-green-001 transition" />
        <input type="text" #inputValue [id]="item.id" [value]="item.value" placeholder="Adicione um valor" autofocus
          class="outline-none text-lg py-0.5" />
      </div>

      <button class="rounded-full bg-red-600 hover:bg-red-700 p-1 cursor-pointer">
        <lucide-angular [img]="xIcon" class="size-6" />
      </button>
    </div>
  </label>
  }
</main>
