<main class="flex flex-col items-center gap-12">

  <h2 class="text-zinc-300 text-5xl font-bold">Adicione uma tarefa!</h2>

  <label for="inputValue" class="group items-center flex bg-zinc-300 rounded-full px-2 py-1 shadow-md cursor-pointer">
    <input type="text" id="inputValue" placeholder="Adicione uma nova tarefa" autofocus
      class="outline-none px-3 cursor-pointer" />

    <button title="Adicionar um novo item" class="rounded-full size-10 bg-green-001 group-hover:bg-green-010 flex items-center justify-center
        cursor-pointer transition-all">
      <lucide-angular [img]="plusIcon" />
    </button>
  </label>

</main>
