<main class="flex flex-col items-center gap-12">
  <div class="-mt-16 flex flex-col gap-4 items-center max-w-4xl">
    <lucide-angular [img]="badgePlusIcon" loading="eager" class="size-36 text-zinc-300" alt="ícone de lista vazia" />
    <h2 class="text-zinc-300 text-5xl font-bold">Adicione uma tarefa!</h2>
  </div>

  <label for="inputValue" class="items-center flex bg-zinc-300 rounded-full px-2 py-1 shadow-md cursor-pointer">
    <input type="text" id="inputValue" #inputText (keyup.enter)="addItem(inputText.value)"
      placeholder="Adicione uma nova tarefa" autofocus class="outline-none px-3 cursor-pointer" />

    <button (click)="addItem(inputText.value)" title="Adicionar um novo item" class="rounded-full size-10 bg-green-001
    hover:bg-green-010 flex items-center justify-center
        cursor-pointer transition-all">
      <lucide-angular [img]="plusIcon" />
    </button>
  </label>

</main>
